
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

# Emacs
*~

# Mac files
.DS_Store

# Unused assets
assets/

# Export files
gmtk-godot/Archive.zip
gmtk-godot/index.js
gmtk-godot/index.pck
gmtk-godot/index.png
gmtk-godot/index.png.import
gmtk-godot/index.wasm
gmtk-godot/gmtk-godot.js
gmtk-godot/gmtk-godot.pck
gmtk-godot/gmtk-godot.png
gmtk-godot/gmtk-godot.png.import
gmtk-godot/gmtk-godot.wasm
gmtk-godot/index.html
